<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Foundation">

<listeners>
    <listener class-name="TestNGListeners"/>
</listeners>

    <test name="TestNG Foundation 1">
        <classes>
            <class name="TestNG1"/>
            <class name="TestNG2">
                <methods>
                    <exclude name="TestCase3"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="TestNG Foundation 2">
        <classes>
            <class name="TestNG3"/>
        </classes>
    </test>

</suite>